:root {
  --ff-all: "Ubuntu", sans-serif;
}

/* GENERAL STYLINGS */

* {
  font-family: var(--ff-all);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(./images/background2.jpg) no-repeat center/cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  position: relative;
  width: 90%;
  margin: 2em auto;
  background: #fff;
  text-align: center;
  padding: 2rem 4rem;
  border-radius: 1rem;
}

header {
  padding: 1em;
  border-bottom: 5px solid hsl(237, 50%, 50%);
}

h1 {
  font-size: 3rem;
}

nav {
  border-radius: 1rem 1rem 0 0;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsl(237, 80%, 73%);
}

.toggle-tab {
  background-color: #fff;
  text-decoration: underline;
}

.tag {}

h2 {
  /* text-align: left; */
  font-size: 2rem;
  width: 25%;
  max-width: 12rem;
  padding: 1em;
  transition: all .5s ease
}

h2:hover {
  background-color: hsl(236, 63%, 85%);
  cursor: pointer;
}

#vigenere, #hill {
  display: none;
}

.messageInput, .encryptedMessage {
  margin: 1em 0;
}

textarea {
  width: 100%;
  height: 20rem;
  padding: 0.5em;
  font-size: 2rem;
}

.message:focus {
  outline: 2px solid hsl(237, 50%, 50%);
}

p {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

button {
  background: hsl(237, 50%, 50%);
  color: white;
  font-size: 2rem;
  width: 50%;
  padding: 1em;
  border-radius: 2em;
  border: none;
  transition: all .3s;
}

button:hover {
  border: 3px solid hsl(237, 50%, 50%);
  background: white;
  color: hsl(237, 50%, 50%);
  cursor: pointer;
}

/* VIGENERE STYLING */

.key-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  font-size: 2.2rem;
  margin: 2em 0;
}

.key-input input {
  width: 50%;
  padding: .6em;
  font-size: 1.5rem;
  border-radius: 1rem;
  outline: none;
}

.key-input input:focus {
  border: 2px solid hsl(237, 50%, 50%);
}

.error {
  display: none;
  position: absolute;
  left: 30%;
  bottom: -2rem;
  font-size: 1rem;
  color: red;
}

/* @media (mix-width: 375px) {
  main {
    height: 90vh;
  }
} */